@import 'tailwindcss';
/* @import './select2.css'; */
@import './flatpickr.css';

@source "../views";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --color-background: #E3F2FD;
    --color-light: #FCFEFF;
    --color-navy: #005187;
    --color-blue: #4D82BC;
    --color-nav: #B4DEFD;
    --color-text: #1E1E1E;
    --color-nav-text: #5D5D5D;
    --color-form: #dedede;
    --container-5xl: 64rem;
    --font-sans: "Roboto", sans-serif;  
}

